@import 'reset-css/reset';
@import 'fonts';

body {
  font-family: $open-sans;
}

header {
  $header-background: #003399;
  $header-text: #ffffcc;
  background: $header-background;
  color: $header-text;
  font: {
    family: $oleo-script;
    size: 200%;
  }
  padding: 0.1em;
  padding-left: 1rem;
  width: 100%;
}

main {
  margin: {
    left: 1em;
    right: 1em;
  }
}

cite {
  font-style: italic;
}

h1, p, pre {
  margin-top: 1em;
}

h1 {
  font: {
    size: 160%;
    family: $montserrat;
    weight: bolder;
  }
}

pre {
  font-family: $monospace;
}
