@import 'reset-css/reset';
@import 'fonts';

body {
  font-family: $open-sans;
}

header {
  $header-background: #003399;
  $header-text: #ffffcc;
  background: $header-background;
  color: $header-text;
  font: {
    family: $oleo-script;
    size: 200%;
  }
  padding: 0.1em;
  padding-left: 1rem;
  width: 100%;
}

main {
  margin: {
    left: 1em;
    right: 1em;
  }

  & > * {
    margin-top: 1em;
  }
}

cite {
  font-style: italic;
}

%header {
  font: {
    size: 160%;
    family: $montserrat;
    weight: bolder;
  }
}

h1, h2 {
  @extend %header;
}

h1 {
  font-size: 160%;
}

h2 {
  font-size: 112%;
}

pre {
  font-family: $monospace;
}

ul li {
  margin-left: 1em;
  list-style-type: disc;
}
