---
title: Good Morning [Dobriden]
---

%pre.abc
  :plain
    X: 1
    T: Good Morning
    T: And Bulgar.
    N: page 5
    M: 3/4
    L: 1/8
    K: Gm
    Q: "Andante."
    | : (D2B2) ((3BAG) | (^F2G2) ((3BAG) | (^F3D) ((3EDC) | D6 |
    (D2d2) ((3cdc) | A2B2 ((3BAG) | (A>d) (A>d) (A>d) | A4 (A>B) | c3 B/c/ ((3BAG) |
    ^F2G2 (AB) | A3 G/A/ ((3G^FE) | D2E2 ((3EDC) | C2c2 ((3BAG) | ^F2C2DE |
    (D>E) (D>E) (D>E) | D6 :: d2 ^c2 d2 | B6 | (d^c)=edcB | A6 |
    (dG)AB^cd | ^c3 (B/c/) ((3BAG) | (^F3D) d/c/B/A/ |1 (G>^F) GAB^c :|2 G6 ||
    | : (b>a) g^f gb | (a>g) ^fdfa | (g>^f) gf ed | {!1!dg}!2!c6 |
    cd e2 ((3^fg!1!a) | c'ba!2!g^fe | dc!1!de^fg |1 (a/b/)(g/b/) a4 :|2 {^fe}d6 ||
    M: 2/4
    L: 1/8
    | : [Q:"Allº moderato."] !segno!!1!d{/^f}e d{/f}e | def2 | !1!^f{/a}g f{a}g | ^f{/a}ga2 | !1!a{/c'}(b2a) | gbd'b |
    (a3!4!g) | ^fed2 | !1!d{/^f}e d{/f}e | def2 | !1!^f{/a}g f{/a}g | ^f{/a}ga2 |
    ^f{/a}(g2f) | (^fe) ((3edc) | d4- |1 d2zd :|2 (y/d2)z2 "_Fine"y |: !1!c'{/e'}(d'2c') | ((3e'd'c') c'2 |
    !1!f{/a}(g2f) | ((3agf) f2 | !1!c'{/e'}(d'2c') | ((3e'd'c') c'2 | f'4 | !1!f4 | !1!c'{/e'}(d'2c') |
    ((3e'd'c') c'2 | !1!f{/a}(g2f) | ((3agf) f2 | ^f{/a}(g2f) | (^fe) ((3edc) | d4- | d2z2 "_D.S. al Fine"!segno!y :|

%pre.abc
  :plain
    X: 2a
    T: Good Morning
    T: And Freilachs.
    T: [Freilachs is given separately as tune 2b here, due to limitations of the ABC format.]
    N: page 6
    M: 3/4
    L: 1/4
    K: Gm
    Q: "Andante."
    uD |: (vG2B) | (d2g) | (!2!b2a) | (!4!g2d) | (d'c'b) | (ba!4!g) |
    (a/b/) (a/b/) (a/b/) | a3 | (e'2d') | (c'ba) | (d'2c') | (ba!4!g) | (a/c'/ba) |
    a!4!g^f | gd!3!B/A/ |1 G2!0!D :|2 G2!2!F |: "^2ⁿᵈ time 8va"(B2c) | (d2e) | (fgf) | (fdB) |
    (A2c) | (f2e) | (edc) | [L:1/16] "^[better typesetting in original]"((B2AB) ((3dcB)z2 (BAGD)) & B4A4D4 |\
    [L:1/4] (GAB) | (cde) | (d2c) |
    (BAG) | (A{/c}BA) | (AG^F) | (GD)B/A/ |1 (G2F) & y2f :|2 (G2D) & g2y |: "^2ⁿᵈ time 8va"[DB]3 | ([DB][CA][B,G]) |
    [DB]3 | ([DB][CA][B,G]) | ([DB][CA][B,G]) | ([DB][CA][B,G]) | ([CA]/[DB]/) ([CA]/[DB]/) ([CA]/[DB]/) | [CA]3 | [Ec]3 | ([Ec][DB][CA]) |
    [DB]3 | ([DB][CA][B,G]) | ([CA][DB][CA]) | ([CA][B,G][A,^F]) | [B,G]DB,/A/ |1 G,2D & y2d :|2 G2F & G,2y ||
    (B2c) | (d2e) | (fgf) | (fdB) | (A2c) | (f2e) | (edc) | [L:1/16] "^[better typesetting in original]"((B2AB) ((3dcB)z2 (BAGD)) & B4A4D4 |
    [L:1/4] (GAB) | (cde) | (d2c) | (BAG) | (A{/c}BA) | (AG^F) | (GD)B/A/ | (G2D) ||

%pre.abc
  :plain
    X: 2b
    T: [Freilachs]
    N: page 7 [drone notes are in smaller type throughout, and blank staves are not in original]
    M: 2/4
    L: 1/16
    %%score { ( 1a 1b ) | 2}
    Q: "Allegro Moderato."
    K: Gm
    [V:1a] |: !segno!(GABA) (cBAG) | (GDGD) (B2AG)       | (GABA) (cBAG)        | (GDBA) G4     :|
    [V:1b] |: G,8                  | G,8                 | G,8                  | G,8           :|
    [V:2]  |: (G,A,B,A,) (CB,A,G,) | B,(G,DG,) (CB,A,G,) | (G,A,B,A,) (CB,A,G,) | (B,G,DB,) G,4 :|
    %
    [V:1a] |: (d2GA) (cBAG)    | (GDGD) (B2AG)       | (d2GA) (cBAG)    | (GDBA) G4     :|
    [V:1b] |: G,8              | G,8                 | G,8              | G,8           :|
    [V:2]  |: D2G,A, (CB,A,G,) | B,(G,DG,) (CB,A,G,) | D2G,A, (CB,A,G,) | (B,G,DB,) G,4 :|
    %%score ( 1a 1b 2 )
    [V:1a] |: (d6^c2) | (d6^c2) | (d3^c) (d3c) | (d3^c) d4 | (d^c)(cB) (!trill!c2B2) | (d^c)(cB) (!trill!c2B2) |
    [V:1b] |: G,8     | G,8     | G,8          | G,8       | G,8                     | G,8                     |
    [V:2]  |: X6 |
    %
    [V:1a] (d^c)(cB) (!trill!c2B2) | (d^cBA) G4 | (d6g2) | (d6^c2) | (d3^c) (d3c) | (d3^c) d4 |
    [V:1b] G,8                     | G,8        | G,8    | G,8     | G,8          | G,8       |
    [V:2]  X6 |
    %
    [V:1a] (d^c)(cB) (!trill!c2B2) | (d^c)(cB) (!trill!c2B2) | (d^c)(cB) (!trill!c2B2) | (d^cBA) G4 |
    [V:1b] G,8                     | G,8                     | G,8                     | G,8        |
    [V:2]  X4 |
    %%score { ( 1a 1b ) | 2}
    [V:1a] |: (GABA) (cBAG)        | (GDGD) (B2AG)       | (GABA) (cBAG)        | (GDBA) G4     "_Fine."y :|
    [V:1b] |: G,8                  | G,8                 | G,8                  | G,8           y :|
    [V:2]  |: (G,A,B,A,) (CB,A,G,) | B,(G,DG,) (CB,A,G,) | (G,A,B,A,) (CB,A,G,) | (B,G,DB,) G,4 y :|
    %%score ( 1a )
    [V:1a] |: (g6 (^fa)) | (g6 (^fa)) | (g2^fa) (g2fa) | (g2^fa) g4 | d2ba gab2 |
    d2ba gab2 | d2ba gf=e2 | z2vgf =ed^c2 | z2u=ed ^cBA2 | (d^c)BA G4 !segno!"_D.S. al Fine."y:|
