---
title: Good Morning
---

%pre.abc
  :plain
    X: 1
    T: Good Morning
    T: And Bulgar.
    N: page 5
    M: 3/4
    L: 1/8
    K: Gm
    Q: "Andante."
    |: (D2B2) ((3BAG) | (^F2G2) ((3BAG) | (^F3D) ((3EDC) | D6 |
    (D2d2) ((3cdc) | A2B2 ((3BAG) | (A>d) (A>d) (A>d) | A4 (A>B) | c3 B/c/ ((3BAG) |
    ^F2G2 (AB) | A3 G/A/ ((3G^FE) | D2E2 ((3EDC) | C2c2 ((3BAG) | ^F2C2DE |
    (D>E) (D>E) (D>E) | D6 :: d2 ^c2 d2 | B6 | (d^c)=edcB | A6 |
    (dG)AB^cd | ^c3 (B/c/) ((3BAG) | (^F3D) d/c/B/A/ |1 (G>^F) GAB^c :|2 G6 ||
    |: (b>a) g^f gb | (a>g) ^fdfa | (g>^f) gf ed | {!1!dg}!2!c6 |
    cd e2 ((3^fg!1!a) | c'ba!2!g^fe | dc!1!de^fg |1 (a/b/)(g/b/) a4 :|2 {^fe}d6 ||
    M: 2/4
    L: 1/8
    |: [Q: "Allº moderato."] !segno!!1!d{/^f}e d{/f}e | def2 | !1!^f{/a}g f{a}g | ^f{/a}ga2 | !1!a{/c'}(b2a) | gbd'b |
    (a3!4!g) | ^fed2 | !1!d{/^f}e d{/f}e | def2 | !1!^f{/a}g f{/a}g | ^f{/a}ga2 |
    ^f{/a}(g2f) | (^fe) ((3edc) | d4 - |1 d2zd :|2 (y/d2)z2 "_Fine"y |: !1!c'{/e'}(d'2c') | ((3e'd'c') c'2 |
    !1!f{/a}(g2f) | ((3agf) f2 | !1!c'{/e'}(d'2c') | ((3e'd'c') c'2 | f'4 | !1!f4 | !1!c'{/e'}(d'2c') |
    ((3e'd'c') c'2 | !1!f{/a}(g2f) | ((3agf) f2 | ^f{/a}(g2f) | (^fe) ((3edc) | d4 - | d2z2 "_D.S. al Fine"!segno!y :|
