---
title: Horras and Serbas
---

%pre.abc
  :plain
    X:1
    T:Fantasia Rumania
    T:And Serba.
    N:page 8
    M:3/4
    L:1/8
    K:Gm
    Q:"Andante."
    |: (d2G2A2) | (B2{/d}c3B) | B2A4 - | A4 zuA | (e2d2c2) | (c3/2d//c//B2A2) |
    (G>A)"^[sic!]"A4 | (G,>A,)B,4 | (d2G2A2) | (B2{/d}c3B) | {/c}B2A4 - | A4 zuA | (e2d2c2) |
    (c3/2d//c//B2A2) | G2g2dB |1 G4zD :|2 G4zF |: (d2^c2d2) | (g2f2e2) | (c>d)e4 |
    (C>D)E4 | (e2d2e2) | a3(gfe) |!fermata!d3 u^c [L:1/16] {/e}(d^c){/e}(dc) {/e}(d^c){/e}(dc) [L:1/8] d3d
    [L:1/32] (cded=c)B (ABcBAG) (^FGAGFE) [L:1/8] !fermata!D2 zd || (d2G2A2) | (B2{/d}c3B) |
    B2A4 - | A4 zA | (e2d2c2) | (c3/2d//c//B2A2) | G6 |1 G4 zF :|2 G2z2z2 ||
    M:2/4
    L:1/16
    |: [Q:"Allº moderato."] (!segno!g6ab) | d8 | {/e}(d3^c)d4 | z2d2e2^f2 | g6(!1!ab) | (d'^c')b2 !4!(bag2) | ^c'2(d'4^c'e') & (^c'e')x6 |
    ((3d'2^c'2!2!b2) ((3b2a2!2!g2) | g6f2 | (_ag)f2 (ed)c2 | (^f=a)g2 c4 | z2A2B2c2 | _d2(c4B2) |
    (=d^c)B2 (BA)G2 | G8 |1 z2(ud2e2d2) :|2 "_Fine."G4 || !>!F4 |: [L:1/8] (3abf (3abf | (3edc d2 |
    (3Bcd (3efg | (3!1!abc' d'2 | (3abf (3abf | (3edc d2 | (3def (3edc |
    [1 (3Bbb (3bbb :|2 B4 |: [K:octave=1] "^[begin 8va]"G3_A | GF=EF | G_A=Bc | d4 | [L:1/16] (de)^f2 (ed)c2 |
    (Bc)d2 (cB)_A2 | (G_A)=B2 (_AG)F2 |1 [L:1/8] GG_AF :|2 "^[end 8va]"G4 || (3abf (3abf | (3edc d2 |
    (3Bcd (3efg | (3!1!abc' d'2 | (3abf (3abf | (3edc d2 | (3def (3edc | Bded "_D.S. al Fine"!segno!y |]
