---
title: Horras and Serbas
---

%pre.abc
  :plain
    X:1
    T:Fantasia Rumania
    T:And Serba.
    N:page 8
    M:3/4
    L:1/8
    K:Gm
    Q:"Andante."
    |: (d2G2A2) | (B2{/d}c3B) | B2A4 - | A4 zuA | (e2d2c2) | (c3/2d//c//B2A2) |
    (G>A)"^[sic!]"A4 | (G,>A,)B,4 | (d2G2A2) | (B2{/d}c3B) | {/c}B2A4 - | A4 zuA | (e2d2c2) |
    (c3/2d//c//B2A2) | G2g2dB |1 G4zD :|2 G4zF |: (d2^c2d2) | (g2f2e2) | (c>d)e4 |
    (C>D)E4 | (e2d2e2) | a3(gfe) |!fermata!d3 u^c [L:1/16] {/e}(d^c){/e}(dc) {/e}(d^c){/e}(dc) [L:1/8] d3d
    [L:1/32] (cded=c)B (ABcBAG) (^FGAGFE) [L:1/8] !fermata!D2 zd || (d2G2A2) | (B2{/d}c3B) |
    B2A4 - | A4 zA | (e2d2c2) | (c3/2d//c//B2A2) | G6 |1 G4 zF :|2 G2z2z2 ||
    M:2/4
    L:1/16
    |: [Q:"Allº moderato."] (!segno!g6ab) | d8 | {/e}(d3^c)d4 | z2d2e2^f2 | g6(!1!ab) | (d'^c')b2 !4!(bag2) | ^c'2(d'4^c'e') & (^c'e')x6 |
    ((3d'2^c'2!2!b2) ((3b2a2!2!g2) | g6f2 | (_ag)f2 (ed)c2 | (^f=a)g2 c4 | z2A2B2c2 | _d2(c4B2) |
    (=d^c)B2 (BA)G2 | G8 |1 z2(ud2e2d2) :|2 "_Fine."G4 || !>!F4 |: [L:1/8] (3abf (3abf | (3edc d2 |
    (3Bcd (3efg | (3!1!abc' d'2 | (3abf (3abf | (3edc d2 | (3def (3edc |
    [1 (3Bbb (3bbb :|2 B4 |: [K:octave=1] "^[begin 8va]"G3_A | GF=EF | G_A=Bc | d4 | [L:1/16] (de)^f2 (ed)c2 |
    (Bc)d2 (cB)_A2 | (G_A)=B2 (_AG)F2 |1 [L:1/8] GG_AF :|2 "^[end 8va]"G4 || (3abf (3abf | (3edc d2 |
    (3Bcd (3efg | (3!1!abc' d'2 | (3abf (3abf | (3edc d2 | (3def (3edc | Bded "_D.S. al Fine"!segno!y |]

%pre.abc
  :plain
    X:2
    T:Rumanian Horra
    T:And Serba.
    N:page 9
    M:3/8
    L:1/16
    K:G
    |: (B,D) C2B,2 | (_A,C) B,2G,2 | (B,D) C2B,2 | (_A,C) B,2G,2 |
    (D2zC) {/D}CB, | (B,2z_A,) (G,A,) | G,2_A,2B,2 - | B,2_A,B,A,G, |
    (B,D) C2B,2 | (_A,C) B,2G,2 | (B,D) C2B,2 | (_A,C) B,2G,2 | (D2zC) {/D}CB, |
    (B,2z_A,) A,G, | (G,2zG) DB, |1 G,4z2 :|2 (G,2zB) c^c ||
    |: d6 - | .d2 z2 {/f}g2 | B6 - | B2 z2 AG | (A2zB) cd | (B2zG) AF |
    (G2zg) fe | (d2zc) Bc | d6 - | d2 z2 {/f}g2 | B6 - | B2 z2 AG |
    (A2zB) cd | (B2zG) AF | G6 |1 (G2zB) c^c :|2 G4z2 ||
    M:2/4
    L:1/16
    |: [Q:"Allº moderato."] B2(cB) A2G2 | d2(ed) c2B2 | d2z2 d4 - | d2D2G2A2 | B2(cB) A2(BA) |
    G2(AG) F2(GF) | E8 | e8 | e6f2 | g2(fg agfe) | d6 ((3def) |
    [L:1/8] gdBG | ((3Bcd) ((3cBA) | ((3Bcd) ((3cBA) | G4 - | "_Fine."G || DGA :: B2B2 | e2d2 |
    B4 - | BD GA | B2B2 | c2B2 | A4 - | A2 zE | A2 zB | cz dz |
    ez fz | gz Gz | ((3Bcd) ((3cBA) | ((3Bcd) ((3cBA) | G4 - | GD GA "_D.S.al Fine."!segno!y :|

%pre.abc
  :plain
    X:3
    T:Rumanian Horra
    T:And Serba.
    N:page 10–11
    M:3/8
    L:1/16
    K:Em
    Q:"Andante."
    |: (B2ze) fg | (f2ze) be | (B2ze) fg | (f2ze) ^dc |
    (B2ze) fg | (!1!a2zb) c'b |1 (a2z!2!g) fe | (f2ze) ^dc :|
    |2 (a2z!2!g) fg | e4z2 |: (!1!d2zg) bd' | (^c'2zd') !0!e'd' | (=c'2zb) ac' |
    (b2za) ((3!4!gfe) | (d2zg) bd' | (^c'2zd') !0!e'd' | (=c'2zb) ag | g4z2 :|
    |: (B2ze) fg | (f2ze) be | (B2ze) fg | (f2ze) ^dc | (B2ze) fg |
    (!1!a2zb) c'b |1 (a2z!2!g) fe | (f2ze) ^dc :|2 (a2z!2!g) fg | (e2zd) g!1!a ||
    |: b6 | (b2z!1!d) ga | b6 | (b2z!1!d) gb | (!0!e'2zd') c'b' | (a2zb) c'd' |
    b6 | (b2z!1!d) ga | b6 | (b2z!1!d) ga | b6 | b6 | (a2z!2!g) fg |
    (a2zg) fg | (e2z!0!e') b!4!g |1 (!2!e2zd) ga :|2 (e2zd') ^c'd' ||
    L:1/8
    |: e'zd' | c'zb | (b/d'/) d'd' | (d'z/c'/) e'/d'/ | c'zb | az!4!g |
    !2!bbb | (bz/a/) c'/b/ | az!2!g | fza | gzf | ezg |
    fzB | g"^[sic]"z/f |1 [L:1/16] (e2zf) g!1!a | (b2zd') ^c'd' :|2 (e2z!0!e') b!4!g | "^[sic]"!2!e4 z2!3!G2 ||
    M:2/4
    L:1/16
    K:D
    |: [Q:"Allegro Moderato. SERBA."] !segno!F2DF EFGF | AFDF !trill!E2D2 | F2D2 EFGF |
    AFDF !trill!E2D2 | {/G}F2DF EFGE | EGAB =cBdB |
    =cBAG GGFE | E2B2 E4 :: Bcd2 ddcB | Be^de B4 |
    Bcd2 ddcB | Be^de B4 | _Bcde =fedc |
    dc_BA BAGF | AGGF FEED | E2B2 E4 :: Bcd2 {/e}dcd2 |
    {/e}dcd2 dcd_B | !trill!A8 | dc_BA GFG2 | gf=fe dc_BA |
    _Bcdc BAGF | GGGF FEFD | E2B2 E4 :: {/^a}b2bb bbbb |
    (^ab)bb bbbb | (b^a)(ag) (gf)(=ag) | (gf)(ag) (gf)(ga) |
    (b^a)(ag) (gf)(fe) |1 (fg)e4e2 :|2 (fg)e4"_D.S."G2!segno!y || [ "^Fine."e2B2 e2z2 |]
