---
full_title: International Hebrew Wedding Music
title: Web edition of <cite>International Hebrew Wedding Music</cite>
---

:markdown
  Welcome! This is a Web edition of <cite>International Hebrew Wedding Music</cite>, by Wolff N. Kostakowsky, published in Brooklyn in 1916. A digital copy of the book (scanned by allen lutins of [KlezmerGuide]) is available through [IMSLP] at [https://imslp.org/wiki/International_Hebrew_Wedding_Music_(Kostakowsky%2C_Wolff_N.)](https://imslp.org/wiki/International_Hebrew_Wedding_Music_(Kostakowsky%2C_Wolff_N.)). The National Library of Israel also used to have a copy available at [http://aleph.nli.org.il/nnl/dig/books/bk002451648.html](http://aleph.nli.org.il/nnl/dig/books/bk002451648.html), but it seems to have gone away.

  The work is an important early collection of klezmer tunes, and has also recently been published in a modern edition as [<cite>The Ultimate Klezmer</cite>][ultimate klezmer]. This website is not related to that edition, but is a completely independent publication of the same source material.

  I have tried to keep this edition as close as possible in content to Kostakowsky’s original. Any editorial additions or comments are in [square brackets], except that editorial accidentals are in (parentheses).

  [IMSLP]: http://www.imslp.org
  [KlezmerGuide]: http://www.klezmerguide.com
  [ultimate klezmer]: https://www.halleonard.com/product/viewproduct.action?itemid=330869

%h2 Table of contents

:markdown
  Kostakowsky did not consistently use section headings for different types of tunes, but he did number tunes more or less sequentially within what he presumably considered categories. I’ve put each category into its own section below, and the numbers in the filenames and tables of contents correspond to Kostakowsky’s tune numbers.

  * [Good Morning [Dobriden]](tunes/good_morning.html)
  * [Horras [sic] and Serbas](tunes/horras.html)
  * [Miscellaneous tunes (unnumbered)](tunes/misc.html)
  * [Bulgars](tunes/bulgars.html)
  * [Rumanian Serbas](tunes/serbas.html)
  * [Ongas](tunes/ongas.html)
  * [Chused’ls](tunes/chusedls.html)
  * [Freilachs](tunes/freilachs.html)
