---
full_title: International Hebrew Wedding Music
title: Web edition of <cite>International Hebrew Wedding Music</cite>
---

%p
  :markdown
    Welcome! This is a Web edition of <cite>International Hebrew Wedding Music</cite>, by Wolff N. Kostakowsky, published in Brooklyn in 1916. A scanned copy of the book is availabe at http://aleph.nli.org.il/nnl/dig/books/bk002451648.html.

    The work is an important early collection of klezmer tunes, and has also recently been published in a modern edition as [<cite>The Ultimate Klezmer</cite>][ultimate klezmer]. This website is not related to that edition, but is a completely independent publication of the same source material.

    [ultimate klezmer]: https://www.halleonard.com/product/viewproduct.action?itemid=330869

%h2 Table of contents

%ul
  %li= link_to "Good Morning", "tunes/good_morning.html"
